#DeconvolutionLab2 [Beta 2]
#DeconvolutionLab2 [Beta 2]
#Sun Feb 26 14:32:31 CET 2017
Algorithm.I.gaussian.mean=0.0
Algorithm.I.gaussian.stdev=1.0
Algorithm.I.iterations=10
Algorithm.I.poisson=0.0
Algorithm.I.reg=0.1
Algorithm.I.scale=3
Algorithm.I.step=1.0
Algorithm.I.wavelets=Haar
Algorithm.algorithm=Regularized Inverse Filter [RIF | LRIF]
Border.apoxy=Uniform
Border.apoz=Uniform
Border.extxy=0
Border.extz=0
Border.padxy=None
Border.padz=None
Computation.dim=XYZ
Computation.epsilon=1E-6
Computation.fft=Fastest
Computation.normalization=1
Controller.constraint.enable=false
Controller.constraint.value=no
Controller.itmax.enable=true
Controller.reference.enable=false
Controller.reference.value=
Controller.residu.enable=false
Controller.residu.value=0.01
Controller.time.enable=false
Controller.time.value=3600
DeconvolutionLab.DeconvolutionDialog.location.h=400
DeconvolutionLab.DeconvolutionDialog.location.w=600
DeconvolutionLab.DeconvolutionDialog.location.x=802
DeconvolutionLab.DeconvolutionDialog.location.y=266
DeconvolutionLab.MainDialog.location.h=511
DeconvolutionLab.MainDialog.location.w=593
DeconvolutionLab.MainDialog.location.x=181
DeconvolutionLab.MainDialog.location.y=298
Image.image.row0=Cell7.tif;file;/Users/dsage/Desktop/Maria Azevedo/Cell7.tif;
Image.image.selected=Cell7.tif;file;/Users/dsage/Desktop/Maria Azevedo/Cell7.tif;
Language.headless=Run (Headless)
Language.job=Job
Language.language=Command line
PSF.psf.row0=AirySimulated;synthetic;AirySimulated 100.0 0.0 1.0  size 128 128 32 ;
PSF.psf.selected=AirySimulated;synthetic;AirySimulated 100.0 0.0 1.0  size 128 128 32 ;
Running.Directory=/Users/dsage/git/deconvolution
Running.Display=yes
Running.Monitor=console table
Running.Multithreading=yes
Running.Path=current
Running.Stats=no
Running.System=yes
Running.Verbose=log
System.Frame.location.h=313
System.Frame.location.w=637
System.Frame.location.x=0
System.Frame.location.y=23
