#DeconvolutionLab2 [Beta 2]
#DeconvolutionLab2 [Beta 2]
#Wed Feb 22 13:06:29 WET 2017
Algorithm.I.gaussian.mean=0.0
Algorithm.I.gaussian.stdev=1.0
Algorithm.I.iterations=10
Algorithm.I.poisson=0.0
Algorithm.I.reg=0.1
Algorithm.I.scale=3
Algorithm.I.step=1.0
Algorithm.I.wavelets=Haar
Algorithm.algorithm=Regularized Inverse Filter [RIF | LRIF]
Border.apoxy=Uniform
Border.apoz=Uniform
Border.extxy=0
Border.extz=0
Border.padxy=None
Border.padz=None
Computation.dim=XYZ
Computation.epsilon=1E-6
Computation.fft=Academic
Computation.normalization=1
Controller.constraint.enable=false
Controller.constraint.value=no
Controller.itmax.enable=true
Controller.reference.enable=false
Controller.reference.value=
Controller.residu.enable=false
Controller.residu.value=0.01
Controller.time.enable=false
Controller.time.value=3600
DeconvolutionLab.DeconvolutionDialog.location.h=400
DeconvolutionLab.DeconvolutionDialog.location.w=600
DeconvolutionLab.DeconvolutionDialog.location.x=711
DeconvolutionLab.DeconvolutionDialog.location.y=129
DeconvolutionLab.MainDialog.location.h=381
DeconvolutionLab.MainDialog.location.w=544
DeconvolutionLab.MainDialog.location.x=35
DeconvolutionLab.MainDialog.location.y=165
Image.image.row0=Pos1-1.tif;file;/Users/dsage/Desktop/Maria Azevedo/Pos1-1.tif;
Image.image.row1=DoG;synthetic;DoG 100.0 0.0 3.0 35.0  size 128 128 32 ;\u232B
Image.image.row2=Cube;synthetic;Cube 100.0 0.0 10.0 1.0  size 128 128 32 ;\u232B
Image.image.row3=IMG_0517.JPG;file;/Users/dsage/Desktop/IMG_0517.JPG;null
Image.image.row4=RandomLines;synthetic;RandomLines 100.0 0.0 300.0  size 512 512 32 ;\u232B
Image.image.row5=Cube;synthetic;Cube 100.0 0.0 10.0 1.0  size 128 128 32 ;\u232B
Image.image.row6=Applications;platform;Applications;\u232B
Image.image.row7=Applications;directory;/users/dsage/Applications;\u232B
Image.image.row8=Cube;synthetic;Cube 100.0 0.0 10.0 1.0  size 128 128 32 ;\u232B
Image.image.row9=lib;directory;/Users/dsage/git/deconvolution/DeconvolutionLab2/lib;\u232B
Image.image.selected=Pos1-1.tif;file;/Users/dsage/Desktop/Maria Azevedo/Pos1-1.tif;
Language.headless=Run (Headless)
Language.job=Job
Language.language=Command line
Output.output.row0=stats;ST1;;;;\u2713;\u2713;\u232B
Output.output.row1=ortho;OR1;;;;\u2713;\u2713;\u232B
Output.output.selected=stats;ST1;;;;\u2713;\u2713;\u232B
PSF.psf.row0=AirySimulated;synthetic;AirySimulated 100.0 0.0 1.0  size 128 128 32 ;null
PSF.psf.row1=Chrome Apps.localized;directory;/users/dsage/applications/Chrome Apps.localized;\u232B
PSF.psf.row2=FI1.tif;file;/Users/dsage/git/deconvolution/DeconvolutionLab2/FI1.tif;\u232B
PSF.psf.selected=AirySimulated;synthetic;AirySimulated 100.0 0.0 1.0  size 128 128 32 ;null
Running.Directory=/Users/dsage/Applications
Running.Display=no
Running.Monitor=no
Running.Multithreading=yes
Running.Path=specify
Running.Stats=show save
Running.System=no
Running.Verbose=log
System.Frame.location.h=80
System.Frame.location.w=637
System.Frame.location.x=30
System.Frame.location.y=564
